{% extends "base.html" %}

{% block title %}Delete Choice{% endblock %}

{% block content %}

<div class="poll-container">

    <h1>Delete Choice</h1>

    <p>
        Are you sure you want to delete this choice?
    </p>

    <h2>{{ choice.text }}</h2>

    <form method="post">

        {% csrf_token %}

        <button type="submit" class="admin-button">
            Delete
        </button>

    </form>

    <a href="{% url 'edit_poll' poll.id %}" class="poll-back-button">
        Cancel
    </a>

</div>

{% endblock %}