{% extends "base.html" %}

{% block title %}Delete Poll{% endblock %}

{% block content %}

<div class="poll-container">

    <h1>Delete Poll</h1>

    <p>
        Are you sure you want to delete this poll?
    </p>

    <h2>{{ poll.title }}</h2>

    <form method="post">

        {% csrf_token %}

        <button type="submit" class="admin-button">
            Delete
        </button>

    </form>

    <a href="{% url 'admin_polls' %}" class="poll-back-button">
        Cancel
    </a>

</div>

{% endblock %}