{% extends "base.html" %}
{% block title %}Portal Group{% endblock %}
{% block content %}

<section class="hero">
    <h1>Portal Group</h1>
    <p>Welcome to Portal Group.</p>
</section>

<section class="hero">
    <h1>Advertisements</h1>
    <p>All the advertisement are here.</p>
    <a class="brand" href="{% url 'advertisement' %}">
        <button type='submit'>Go to</button>
    </a>
</section>

<section class="hero">
    <h1>Forum</h1>
    <p>Discussion forum here.</p>
    <a class="brand" href="{% url 'topic_list' %}">
        <button type='submit'>Go to</button>
    </a>
</section>

<section class="hero">
    <h1>Poll</h1>
    <p>Poll.</p>
    <a class="brand" href="{% url 'poll_list' %}">
        <button type='submit'>Go to</button>
    </a>
</section>

{% endblock %}
