{% extends "base.html" %}

{% block content %}

<h1>{{ topic.title }}</h1>
<a class="forum_c" href="{% url 'category_detail' topic.category.id %}">
    <span class="brand-mark">Back to the forum</span>
</a>
<a class="forum_c" href="{% url 'delete_topic' topic.id %}">
        <span class="brand-mark">Delete topic</span>
</a>
<p>
    Author: {{ topic.author }}
</p>

<p>
    Created: {{ topic.created_at }}
</p>

<hr>

{% for post in posts %}

    <div class="post">

        <strong>{{ post.author }}</strong>

        <p>
            {{ post.content }}
        </p>

        <small>
            {{ post.created_at }}
        </small>

        {% if post.image %}
            <div class="post-image">
                <img src="{{ post.image.url }}" alt="Attached image">
            </div>
        {% endif %}
    </div>




</div>
    <hr>

{% empty %}

    <p>No messages yet</p>

{% endfor %}

{% if user.is_authenticated %}

    <h2>Reply</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Submit
        </button>
    </form>

{% else %}

    <p>
        <a href="{% url 'login' %}">Log in</a>,
        to leave a message.
    </p>

{% endif %}

{% endblock %}